# ================================
#   IntelliJ / JetBrains
# ================================
.idea/
*.iml
out/
*.ipr
*.iws

# ================================
#   Maven
# ================================
target/
**/target/

# ================================
#   Gradle (si un jour tu mixes)
# ================================
.gradle/
build/
**/build/

# ================================
#   Spring Boot
# ================================
*.log
*.tmp
*.swp

# ================================
#   OS files
# ================================
.DS_Store
Thumbs.db

# ================================
#   Java
# ================================
*.class

# ================================
#   Logs
# ================================
logs/
**/logs/

# ================================
#   Environment / Secrets
# ================================
*.env
.env.*
secrets/
**/application-local.yml
**/application-local.properties

# ================================
#   Docker
# ================================
*.pid
docker-data/
**/docker-data/

# ================================
#   Kubernetes / Helm
# ================================
.helm-cache/
.helm/
chart/.tgz

# ================================
#   Node (si UI un jour)
# ================================
node_modules/
dist/
npm-debug.log

# ================================
#   Python (si scripts)
# ================================
__pycache__/
*.pyc

# Maven Wrapper
**/mvnw
**/mvnw.cmd
**/.mvn/

**/.gitignore
**/.gitattributes